.product__card-img {
  height: 360px;
  /* background-image: url('/image/products/lookback.png'); */
  background-size: cover;
  background-position: center;
}

.product__card {
  margin-bottom: 16px;
  overflow: hidden;
}

.product__card-title {
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.range-btn {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 12px; 
}
