extends ../layouts/common.pug 

block content
  h1 Create new user 

  form(action="/users/create", method="POST")
    .mb-3
      label(for="name" class="col-sm-2 col-form-label") Name 
      div(class="col-sm-10")
        input(name="name" class="form-control" type="text" id="name")
    
    .mb-3
      label(for="phone" class="col-sm-2 col-form-label") Phone
      div(class="col-sm-10")
        input(name="phone" class="form-control" type="text" id="phone")

    button(type="submit" class="btn btn-primary") Create
    
  //- a(href="/users" class="btn btn-secondary") Return